.sign-up-container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.sign-up-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #162932;
}

.sign-up-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #162932;
}

.sign-up-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-up-container button {
  width: 100%;
  padding: 10px;
  background-color: #1aa5df;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-container button:hover {
  background-color: #0056b3;
}

.success-message,
.error-message {
  color: black; /* Définit la couleur du texte en noir */
  font-weight: bold;
  margin-top: 10px;
}
